

.bodi {
    font-family: 'Muli', sans-serif;
    /* background:linear-gradient(rgba(250,0,0,0.5),transparent);
    background-color:orange; */
    background:linear-gradient(rgba(206, 135, 5, 0.973),transparent);
    background-color:green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
.login{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.sub-login{
    display: flex;
    flex-direction: row;
    margin: 100px;
    background-color: white;
    justify-items: self-end;
    height: 500px;
    width: 900px;
    border-radius: 30px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    justify-content: space-between;
}

.image{
    background-color: #9ad410;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.form input{
    width: 300px;
    border-radius: 30px;
    padding: 15px;
    border: 2px;
    background-color: #EEEEEE;
    justify-content: space-between;
    margin-top: 10px;
    
}

.form button{
    margin-top: 10px;
    width: 300px;
    border-radius: 30px;
    padding: 15px;
    border: 0px;
    color: white;
    background-color: rgb(17, 187, 88);
}

.form p{
    margin-top: 20px;
}